<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982450847417-d7m8gdrarhihef2qcrh488daq2r9sslq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982450847417-d7m8gdrarhihef2qcrh488daq2r9sslq</string>
	<key>API_KEY</key>
	<string>AIzaSyCtqiYS1BZJMsrHlxVEffbEcVMYIlLJesE</string>
	<key>GCM_SENDER_ID</key>
	<string>982450847417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hengkyasdev.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-app-v1-92582</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-app-v1-92582.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982450847417:ios:2701ba74ce329a8aa6a568</string>
</dict>
</plist>